ul, li {
    padding: 0px;
}

.sidebar {
    width: 20%;
    background-color: #2C5C5E;
    color: #fff;
    height: 100%;
}

.sidebar ul li {
    display: block;
    padding: 10px 5px;
    cursor: pointer;  
    padding-left: 1.5rem;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar li.active {
    border-style: none;
    background-color: rgba(255, 255, 255, 0.24);
}

.sidebar li:hover {
    background-color: rgba(17, 49, 97, 0.24);
}

.sidebar img {
    height: 20px;
    margin-right: 10px;
}

/* To change the icons in png to white */
.filter {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

@media (max-width: 540px){
    .sidebar{
        width: 100%;
        height: fit-content;
    }
} 