@font-face {
  font-family: "font1";
  src: url("./assets/fonts/Lato-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font2";
  src: url("./assets/fonts/Lato-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body, p {
  font-family: font1;
  overflow-x: hidden;
  background-color: #ffffff;
  box-sizing: border-box;
}

.font1{
  font-family: font1;
}

.font2{
  font-family: font2;
}

.title{
  font-family: font2;
  color: #808182;
  font-weight: 700;
  font-size: 32px;
}

.page-container{
  height: 100vh;
}

.page{
  padding: 0px;
  width: 80%;
}

.form-div{
  width: 80%;
  padding: 30px;
}

@media (max-width: 540px){
  .page-container{
      height: auto;
  }
  .page{
    width: 100%;
  }
} 